*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.the-calculator {
  background-color: hsl(227, 80%, 39%);
  border: 1.5px solid black;
  max-width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 5px 5px 0 hsl(50, 89%, 55%);
}

.display {
  display: flex;
  justify-content: center;
  
}

.container-display {
  margin-top: 10px;
  width: 90%;
  max-height: 20%;
  text-align: right;
  color: black;
  font-weight: 700;
  background-color: hsl(227, 2%, 91%);
  border: none;  
}


.maindisplay {
  height: 10px;
  font-size: 25px;
  padding: 5px;
}

.smalldisplay {
  padding: 5px;
  max-height: 8px;
  font-size: 15px;
}

.btn,
.operators {
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.operators {
  background-color: hsl(23, 1%, 21%);
  color: white;
}
.btn:hover {
  background-color: hsl(50, 89%, 55%);
}

.operators:hover {
  background-color: hsl(50, 89%, 55%);
}
.calculator-buttons {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

.clear {
  background-color: hsl(23, 89%, 52%);
  grid-column-start: 1;
  grid-column-end: 4;
}

.zero {
  background-color: hsl(23, 89%, 52%);
  grid-column-start: 2;
  grid-column-end: 4 ;
}

.divide-button {
  grid-row-start: 3;
  grid-column-start: 4;
}

.multiply-button {
  grid-row-start: 2;
  grid-column-start: 4;
}
.add-button {
  grid-row-start: 4;
  grid-column-start: 4;
}

.equals-button {
  grid-row-start: 5;
  grid-column-start: 4;
  background-color: hsl(23, 1%, 21%);
  color: white;
  padding: 15px;
  border-radius: 5px;
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}

.equals-button:hover {
  background-color: hsl(123, 87%, 41%);
}
.percentage {
  grid-row-start: 5;
}
