*,
*::before,
*::after {
  box-sizing: border-box;
  color: hsl(8, 84%, 57%);
}

html,
body {
  height: 100%;
}

* {
  margin: 0;
}

input {
  border: 1px solid hsl(8, 84%, 57%);
}
#number-a,
#number-b {
  border: 1px solid hsl(218, 84%, 57%);
  width: 75px;
}
.containing.block {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.buttons-wrapper {
  padding-left: 15px;
  padding-top: 10px;
  position: relative;
  justify-content: center;
  width: 50%;
}

.input-wrapper {
  padding: 15px;
  width: 40%;
}

.input {
  padding-top: 7px;
}

button {
  height: 20px;
  border: 1px solid hsl(218, 84%, 57%);
  background-color: white;
}

button:hover {
  background-color: hsl(60, 39%, 79%);
}

p {
  padding: 20px;
}

.my.numbers {
  padding-left: 15px;
  position: relative;
  padding-top: 10px;
  justify-content: center;
  width: 50%;
}